## logical operators

In [ ]:
and 
or        # used to check whether expression is true or false
not

In [1]:
a = 10
b = 20

In [2]:
(a>10) and (b>20)

False

In [3]:
(a>5) or (b>25)

True

In [4]:
(a<20)

True

In [5]:
not(a<20)

False

## bit wise operators

In [6]:
&  --- and 
|  --- or
^  --- xor
~  --- negation
<< --- left shift
>> --- right shift

SyntaxError: invalid syntax (3382923931.py, line 1)

In [7]:
a = 67
b = bin(a)
c = int(b,2)
c

67

In [8]:
b = 32
bin(b)

'0b100000'

In [9]:
a & b

0

In [10]:
bin(a) and bin(b)
'''Now, when you use the and operator (and is a logical operator, not a bitwise operator) between two binary strings,
Python performs a logical AND operation between them as follows:

If both operands are considered "truthy" (i.e., they are not empty or equal to zero), it returns the second operand.
If any of the operands is "falsy" (i.e., it is empty or equal to zero), it returns the first falsy operand.'''

'Now, when you use the and operator (and is a logical operator, not a bitwise operator) between two binary strings,\nPython performs a logical AND operation between them as follows:\n\nIf both operands are considered "truthy" (i.e., they are not empty or equal to zero), it returns the second operand.\nIf any of the operands is "falsy" (i.e., it is empty or equal to zero), it returns the first falsy operand.'

In [11]:
# bin(a) & bin(b)
# Step 1: Convert two integers into binary representations
a = 10
b = 21

binary_a = bin(a)[2:]  # Convert a to binary and remove '0b' prefix
binary_b = bin(b)[2:]  # Convert b to binary and remove '0b' prefix
print(type(binary_a))

# Step 2: Perform the bitwise AND operation on binary representations
result_binary = ""

# Ensure both binary strings are of the same length by padding with zeros if necessary
max_length = max(len(binary_a), len(binary_b))
binary_a = binary_a.zfill(max_length)
binary_b = binary_b.zfill(max_length)

for i in range(max_length):
    if binary_a[i] == '1' and binary_b[i] == '1':
        result_binary += '1'
    else:
        result_binary += '0'

# Step 3: Convert the result back into an integer if needed
result = int(result_binary, 2)

# Display the result
print("Binary representation of a:", binary_a)
print("Binary representation of b:", binary_b)
print("Result of bitwise AND operation:", result)

<class 'str'>
Binary representation of a: 01010
Binary representation of b: 10101
Result of bitwise AND operation: 0

In [12]:
# Two integers
a = 10
b = 21

# Bitwise AND operation on binary representations
result = a & b

# Display the result
print("Result of bitwise AND operation:", result)

Result of bitwise AND operation: 0

In [13]:
#int(100000,2)
binary_string = '101010'  # Replace with your binary string
decimal_number = int(binary_string, 2)
print(decimal_number)

42

In [14]:
a | b

31

In [15]:
a ^ b

31

In [16]:
1 1 0           # xor truth table
1 0 1
0 1 1 
0 0 0

SyntaxError: invalid syntax (2247933247.py, line 1)

In [17]:
a = 10
~a

-11

In [18]:
0     1 0 1 0    # negate it
1     0 1 0 1    # taking two's compliment
0     1 0 0 1    # equals 11

SyntaxError: invalid syntax (886713874.py, line 1)

In [19]:
a = -11
~a

10

In [20]:
a = 45     # divided by 4
a >> 2

11

In [21]:
a

45

In [22]:
a = 45       # multiplied by 4
a << 2

180

## special operators

In [23]:
x = [1,4,5]
2 in x

False

## control statements

In [24]:
if
if else
if elif else

SyntaxError: invalid syntax (301999026.py, line 1)

In [25]:
age = 23

In [26]:
if age >= 18:
    print("you can drive")

you can drive

In [27]:
age = 12

In [28]:
if age >= 18:
    print("you can drive")
else:
    print("you cannot drive")

you cannot drive

In [29]:
x = 23
if x >= 23:
    print("you are inside the if block")

you are inside the if block

In [30]:
age = 10

In [31]:
if age >= 18:
    print("you can drive")
elif age <= 14:
    print("you cannot drive")
else:
    print("wait for some more time")

you cannot drive

In [32]:
score = 50

if score >= 90:
    print("90")
elif score >= 80:
    print("80")
elif score >= 70:
    print("70")
else:
    print("failed")

failed

In [33]:
time = 5
if time<0:
    print("invalid")
elif 0 <= time <= 5:
    print("night")
elif 6 <= time <= 11:
    print("morning")
elif 12 <= time <= 17:
    print("afternoon")
elif 18 <= time <= 23:
    print("evening")
else:
    print("invalid")

night

In [34]:
# find the largest no. from three given numbers

In [35]:
num1 = 10 
num2 = 20 
num3 = 30

if (num1 >= num2) and (num1 >= num3):
    largest = num1
    print("largest number is:",largest)
elif (num2 >= num1) and (num2 >= num3):
    largest = num2
    print("largest number is:",largest)
else:
    largest = num3
    print("largest number is:",largest)

largest number is: 30

In [36]:
first = input("enter first number :")
op = input("enter operator (+,-,*,/,%) : ")
second = input("enter second number :")

first = int(first)
second = int(second)

if op == '+':
    print(first + second)
elif op == '-':
    print(first - second)
elif op == '/':
    print(first / second)
elif op == '*':
    print(first * second)
elif op == '%':
    print(first % second)
else:
    print('invalid operator')

enter first number : 7
enter operator (+,-,*,/,%) :  +
enter second number : 8

15

In [37]:
num = 8

if (num >= 0):
    if num == 0:
        print("number is 0")
    else:
        print("number is positive")
else:
    print("number is negative")

number is positive

In [38]:
# range functions
(range(5)

SyntaxError: incomplete input (1492246849.py, line 2)

In [39]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [40]:
range(start,stop,step)      # stop is exclusive

NameError: name 'start' is not defined

In [41]:
list(range(-6,8,2))

[-6, -4, -2, 0, 2, 4, 6]

## loops

In [42]:
for loop
while loop

SyntaxError: invalid syntax (4053736554.py, line 1)

In [43]:
for i in range (5):
    print(i)

0
1
2
3
4

In [44]:
for i in range(-11,0,2):
    print(i)

-11
-9
-7
-5
-3
-1

In [45]:
for k in ['a','b','c','d']:
    print(k)

a
b
c
d

In [46]:
for z in "haris nazir":
    print(z)

h
a
r
i
s

n
a
z
i
r

In [47]:
st = "haris nazir"
for z in st:
    print(z,end='')

haris nazir

In [48]:
for i in 234:
    print(i)

TypeError: 'int' object is not iterable

In [49]:
x = {"name":"haris","city":"srinagar"}
for i in x.values():
    print(i)

haris
srinagar

In [50]:
country = ["india","uk","germany"]

for index in range(len(country)):
    print(country[index])

india
uk
germany

In [51]:
country = ["india","uk","germany"]

for ct in country:
    print(ct)

india
uk
germany

In [52]:
dict1 = {"x1":1,"x2":2,"x3":3}
dict1.keys()

dict_keys(['x1', 'x2', 'x3'])

In [53]:
dict1.values()

dict_values([1, 2, 3])

In [54]:
for key in dict1:
    print(key,dict1[key])

x1 1
x2 2
x3 3

In [55]:
dict1["x1"]

1

In [56]:
for i in dict1:         # the for loop in dictionary by default takes keys into consideration
    print(i)

x1
x2
x3

In [57]:
for i in dict1.values():
    print(i)

1
2
3

In [58]:
for i in {1,3,5}:
    print(i)

1
3
5

In [59]:
x = "harisnazir"
for i in x:
    print(i)

h
a
r
i
s
n
a
z
i
r

In [60]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [61]:
print("hi")
print("hi23",end =' ')
print("hi45",end = '   @')
print("hi67")

hi
hi23 hi45   @hi67

In [62]:
for i in range(10):
    print(i,end='')

0123456789

In [63]:
for i in range(5):
    print(i)
else:
    print("done")

0
1
2
3
4
done

In [64]:
count = 0
for i in range(5):
    for j in range(i+1):         # range(1) = 0
        print("*",end =' ')
        count += 1
print(count)

* * * * * * * * * * * * * * * 15

In [65]:
for i in range(5):
    for j in range(i+1):         # range(1) = 0
        print("*")

*
*
*
*
*
*
*
*
*
*
*
*
*
*
*

In [66]:
for i in range(5):
    for j in range(i+1):         # range(1) = 0
        print("*")
    print()

*

*
*

*
*
*

*
*
*
*

*
*
*
*
*

In [67]:
for i in range(5):
    for j in range(i+1):
        print("*",end =' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [68]:
for i in range(5,0,-1):
    for j in range(i+1):
        print("*",end =' ')
    print()

* * * * * *
* * * * *
* * * *
* * *
* *

In [69]:
for i in range(4,-1,-1):
    for j in range(i+1):
        print("*",end =' ')
    print()

* * * * *
* * * *
* * *
* *
*

In [71]:
for i in range(5):
    for j in range(i+1):          # for loop is used when the no.of iterations are known
        print(i*j)
    print()

0

0
1

0
2
4

0
3
6
9

0
4
8
12
16

In [72]:
for i in range(1,6):
    for j in range(1,6):
        print(i*j,end=' ')
    print()

1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25

In [73]:
count = 1
                                        # while loop is used when the no.of iterations are not known
while count <= 5:
    print(count)
    count += 1           # count = count + 1

1
2
3
4
5

In [75]:
text = " "

while text != "quite":
    text = input("enter a word")
    print("you entered ", text)

enter a word haris

you entered  haris

enter a word quite

you entered  quite

In [ ]:
# age guess

In [76]:
age = 0
while age != 30:
    age = int(input("enter age"))
    print("you entered ", age)

enter age 67

you entered  67

enter age 89

you entered  89

enter age 30

you entered  30

In [79]:
list1 = [23,34,45,30]
age = int(input("enter your age"))
while age not in list1:
    print("invalid age")
    age = int(input("enter your age"))
else:
    print("age from the list")

enter your age 89

invalid age

enter your age 23

age from the list

In [80]:
list1 = [23, 34, 45, 30]

while True:
    age = int(input("Enter your age: "))
    if age in list1:
        print("Age from the list")
        break
    else:
        print("Invalid age")

Enter your age:  67

Invalid age

Enter your age:  89

Invalid age

Enter your age:  09

Invalid age

Enter your age:  23

Age from the list

In [81]:
list1 = [23, 34, 45, 30]
age = 0
found = False  # Flag to check if age is in list1

while age not in list1:
    age = int(input("Enter your age: "))
    if age not in list1:
        print("Invalid age")

# This part will only be executed when age is found in list1
print("Age from the list:", age)

Enter your age:  89

Invalid age

Enter your age:  78

Invalid age

Enter your age:  23

Age from the list: 23

In [82]:
number = 5.0  # Replace with the number you want to check

if isinstance(number, int):
    print("It's an integer.")
elif isinstance(number, float):
    print("It's a float.")
else:
    print("It's neither an integer nor a float.")

It's a float.