In [1]:
number = 0

if number > 0:
    print("positive number")
elif number ==0:
    print("zero")
else:
    print("negative number")

print("this is always prints")

zero
this is always prints

In [2]:
for i in range(5):
    print(i)

0
1
2
3
4

In [3]:
days = 0 
week = ['mon','tue','wed','thu','fri','sat','sun']

while days < 7:
    print("today is " + week[days])
    days +=1

today is mon
today is tue
today is wed
today is thu
today is fri
today is sat
today is sun

In [4]:
# split
text = " i write code"
text.split()

['i', 'write', 'code']

In [5]:
x = input("enter three word message")
word1,word2,word3 = x.split()

enter three word message asd fgh jkl

In [6]:
word1

'asd'

In [7]:
y,w = [2,3]

In [8]:
y

2

In [9]:
word2

'fgh'

In [10]:
word3

'jkl'

In [11]:
a = int(input("enter ist number"))
b = int(input("enter 2nd number"))
print(a+b)

enter ist number 4
enter 2nd number 8

12

In [12]:
a,b = input("enter two numbers").split()
c = int(a) + int(b)
c

enter two numbers 5 6

11

In [13]:
x = input("enter two number seprated by spaces")
sum = int(x.split()[0]) + int(x.split()[1])
print(sum)

enter two number seprated by spaces 7 9

16

In [15]:
s = input("enter roll no, name and percentage")
print(type(s.split()))
roll,name,percent = s.split()
print(roll)
print(name)
print(percent)

enter roll no, name and percentage 3 asir 89

<class 'list'>
3
asir
89

In [16]:
s1 = "A B C D E F"
print(s1.split(' ',4))             # max(takes n+1) seperator is the no of containers

['A', 'B', 'C', 'D', 'E F']

In [17]:
s1 = "HI@HI@HI@HI@hi"
s1.split('@',3)

['HI', 'HI', 'HI', 'HI@hi']

In [18]:
for letter in "pwskills":
    print('letter',letter)

letter p
letter w
letter s
letter k
letter i
letter l
letter l
letter s

In [19]:
for letter in "pwskills":
    if letter == 'l':
        break
    print('letter',letter)

letter p
letter w
letter s
letter k
letter i

In [20]:
for letter in "pwskills":
    if letter == 'l':
        continue
    print('letter',letter)

letter p
letter w
letter s
letter k
letter i
letter s

In [21]:
for i in range(5):
    if i==3:
        break
    print(i)

0
1
2

In [22]:
list(range(5))

[0, 1, 2, 3, 4]

In [23]:
i = 1
while i<=10:
    print(i)
    
    if i >= 5:
        break
    i =i+1

1
2
3
4
5

In [24]:
numbers = [10,20,30,40,120,230]

for i in numbers:
    if i>100:
        break
    print(i)

10
20
30
40

In [25]:
s = "hello, world"
for char in s:
    print(char)
    if char == ',':
        break

h
e
l
l
o
,

In [26]:
for letter in "pwskills":
    if letter == 'i':
        continue
    print(letter)

p
w
s
k
l
l
s

In [27]:
for i in range(5):              # break ends, continue skips
    if i == 3:
        continue
    print(i)

0
1
2
4

In [28]:
for i in range(1,11):
    if i%2 == 0:
        continue
    print(i)

1
3
5
7
9

In [29]:
for i in range(1,11):
    if i%2 == 0:
        pass
    print(i)

1
2
3
4
5
6
7
8
9
10

In [30]:
n = 10
if n > 10:
    pass
print('hello')

hello

In [31]:
for i in range(5):
    pass

## FUNCTIOS

In [32]:
a = 10
b = 20
print(a+b)

30

In [33]:
a = 56
b = 23
print(a+b)

79

In [34]:
a = 4
b = 6
print(a+b)

10

In [35]:
# instead of writing it many times with different values of a and b
def add_nums(a,b):
    return a + b

In [36]:
def add():                      #function template
    # function body
    
    return

# function call
functionname()

NameError: name 'functionname' is not defined

In [37]:
def greet():
    print("hello world")

In [38]:
greet()

hello world

In [39]:
def addnum():
    a = 23
    b = 56
    c = 65
    d = a+b+c
    print(d)

In [40]:
addnum()

144

In [41]:
def addnum():
    a = 23
    b = 56
    c = 65
    d = a+b+c
    return d

In [42]:
addnum()

144

In [43]:
def add_numbers():
    a = input("enter the first")
    b = input("enter the secong")
    c = int(a)+int(b)
    print(c)

In [44]:
add_numbers()

enter the first 7
enter the secong 9

16

In [45]:
def mul_numbers(x,y):
    a = x
    b = y
    c = a*b
    print(c)

In [46]:
mul_numbers()

TypeError: mul_numbers() missing 2 required positional arguments: 'x' and 'y'

In [47]:
mul_numbers(3,6)

18

In [48]:
def introduction(name):
    print("hi",name)

In [49]:
introduction('haris')

hi haris

In [50]:
def introduction(fname,lname):
    print("hi",fname+lname)

In [51]:
introduction('haris','nazir')

hi harisnazir

In [ ]:
-21   21
23   -23

In [52]:
def absolute(x):
    a = -x
    print(a)

In [53]:
absolute(4)

-4

In [54]:
def absolute(n):
    if n>0:
        print(n)
    else:
        print(-n)

In [55]:
absolute(-67)

67

In [56]:
def fullname(a,b):
    c = a+b
    print(c)

In [57]:
x = fullname('haris','name')

harisname

In [58]:
x                           # no output

In [59]:
def fullname(a,b):
    c = a+b
    return c

In [60]:
x = fullname('haris','name')

In [61]:
x

'harisname'

In [62]:
def fullname(a,b):
    c = a+b
    return

In [63]:
x = fullname('haris','name')

In [64]:
x

In [65]:
type(x)

NoneType

In [66]:
def calculator(a,b):
    c = a+b
    d = a-b
    e = a*b
    
    return c,d,e

In [67]:
x = calculator(2,3)
x

(5, -1, 6)

In [68]:
type(x)

tuple

In [69]:
def calculator(a,b):
    a = int(input("enter first number: "))
    b = int(input("enter second number: "))
    summ = a+b
    subtract = a-b
    divide = a//b
    return summ, subtract, divide

In [70]:
calculator(4,6)

enter first number:  6
enter second number:  9

(15, -3, 0)

In [72]:
def cal(a,b):
    op = input("enter a operator")
    if(op == 'add'):
        return a+b
    elif(op == 'sub'):
        return a-b
    elif(op == 'mul'):
        return a*b
    else:
        a/b

In [73]:
cal(2,4)

enter a operator mul

8

In [74]:
def area(radius):
    return 3.14*radius*radius

In [75]:
area(4)

50.24

In [76]:
def area_rect(l,b):
    return l*b

In [77]:
area_rect(2,3)

6

In [78]:
def area_tri(b,a):
    return 1/2*b*a

In [79]:
area_tri(3,4)

6.0

In [82]:
def fun1():
    a, b = map(int, input('Enter two numbers separated by a space: ').split())
    for i in range(a,b):
        print(i)

In [83]:
fun1()

Enter two numbers separated by a space:  6 12

6
7
8
9
10
11

In [84]:
def fun2():
    for i in range(1,6):
        print(i*'*')

In [85]:
fun2()

*
**
***
****
*****

In [86]:

def sq_fxn():
    a=int(input('enter a number'))
    print('square of the number is:',a*a)

In [87]:
sq_fxn()

enter a number 9

square of the number is: 81

In [88]:
 def fun3():
        a, b = map(int, input('Enter two numbers separated by a space: ').split())
        print("sum is:",a+b)

In [89]:
fun3()

Enter two numbers separated by a space:  9 8

sum is: 17

In [90]:
def fun4():
    a, b = input('Enter two strings separated by a space: ').split()
    print(a + ' ' + b)

In [91]:
fun4()

Enter two strings separated by a space:  haris nazir

haris nazir

In [92]:
def print_even_number():
    limit1=int(input('Enter the first limit of even numbers'))
    limit2=int(input('Enter the second limit of even numbers'))
    for i in range(limit1,limit2+1):
        if i%2==0:
            print(i,end=' ')

In [93]:
print_even_number()

Enter the first limit of even numbers 7
Enter the second limit of even numbers 23

8 10 12 14 16 18 20 22

In [94]:
def print_even_numbers():
    a , b = input("Enter 2 numbers between which you want the even number").split()
    
    for i in range( int(a), int(b)):
        if i%2 == 0:
            print(i)
            
print_even_numbers()

Enter 2 numbers between which you want the even number 6 34

6
8
10
12
14
16
18
20
22
24
26
28
30
32

In [95]:
def fun5():
    a, b, c = map(int, input('Enter three numbers separated by a space: ').split())
    if a**2+b**2==c**2 or a**2+c**2==b**2 or c**2+b**2==a**2:
        print("these sides for the sides of an rt angled triangle")
    else:
        print("do not form")

In [96]:
fun5()

Enter three numbers separated by a space:  2 3 4

do not form

In [97]:
def checkRightTriangle(a,b,c):
    if a**2 == b**2 + c**2 or b**2 == c**2 + a**2 or c**2 == a**2 + b**2:
        print('It is a right angled triangle')
    else:
        print('It is not a right angled triangle')
a = int(input('Enter the first side of triangle : '))
b = int(input('Enter the second side of triangle : '))
c = int(input('Enter the third side of triangle : '))
checkRightTriangle(a,b,c)

Enter the first side of triangle :  4
Enter the second side of triangle :  5
Enter the third side of triangle :  6

It is not a right angled triangle

In [98]:
type()
print()
len()
range()

TypeError: type() takes 1 or 3 arguments

In [99]:
def test():
    print('this is my first function')

In [100]:
test()

this is my first function

In [101]:
def test1():
    print('test')

In [102]:
test1()

test

In [103]:
test1()+'haris'                 # type of print statement is nonetype

test

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [104]:
type(test1())

test

NoneType

In [105]:
def test1():                          # so return keyword is used not print statement
    return 'test'
test1()+'haris'

'testharis'

In [106]:
type(test1)

function

In [107]:
def test3():
    return 1+3
type(test3())

int

In [108]:
def test4():
    return "haris", True,[1,2,3,]         # it is possible to return multiple varialbe from a function 
test4()                                   # for multiple returns the result is wrapped int a tuple

('haris', True, [1, 2, 3])

In [109]:
type(test4())

tuple

In [110]:
a,b,c,d = 1,'haris',23,78

In [111]:
m,n,o=test4()

In [112]:
print(m)
print(n)
print(o)

haris
True
[1, 2, 3]

In [113]:
def test5(x):
    return x

In [114]:
test5(5)

5

In [115]:
test5('haris')

'haris'

In [116]:
test5([1,7,25,7])

[1, 7, 25, 7]

In [117]:
test5(4,6)

TypeError: test5() takes 1 positional argument but 2 were given

In [118]:
test5()

TypeError: test5() missing 1 required positional argument: 'x'

In [119]:
def test6(x,y):
    return x,y

In [120]:
test6(3,5)

(3, 5)

In [121]:
a,b = test6(4,5)
print(a)
print(b)

4
5

In [122]:
# data type of the argument given to the function
def test7(a:int, b:int):
    return a,b

In [123]:
test7(2,7)

(2, 7)

In [124]:
test7('haris',[4,6,0])            # python is self typed language no need to specify the data types
                                  # user can't be ristricted

('haris', [4, 6, 0])

In [125]:
def test8(x:int,y:int):
    return x/y
test8(2,40)

0.05

In [126]:
test8('hari','nazir')

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [127]:
def test9(c,d):    # for functions we write a doc string to give difinition to the function by entering shift+tab
    '''this is my function that takes two inputs and return addition or concatination'''
    return c+d
test9(3,5)

8

In [128]:
test9('haris','nazir')

'harisnazir'

In [129]:
def test10(*args):
    return args                # for any no of arguments to pass to a function
test10()

()

In [130]:
test10(a,b,c,1,3,[2,3],'haris')

(4, 5, 23, 1, 3, [2, 3], 'haris')

In [131]:
def test11(*haris):
    return haris
test11(a,b,c,1,3,[2,3],'haris')

(4, 5, 23, 1, 3, [2, 3], 'haris')

In [132]:
# for entering the data in key value 
def test12(**kwargs):
    return kwargs
test12(2,4)

TypeError: test12() takes 0 positional arguments but 2 were given

In [133]:
test12(a=4,b=5,c=7)           # returns a dictionary

{'a': 4, 'b': 5, 'c': 7}

In [134]:
type(test12(a=4,b=5,c=7))           # returns a dictionary

dict

In [135]:
test12(n = {'a': 4, 'b': 5, 'c': 7})

{'n': {'a': 4, 'b': 5, 'c': 7}}

In [136]:
def test13(b,a=10,c=20):             # default arguments specified at the time of creating of the function
    return a,b,c

In [137]:
test13(56)

(10, 56, 20)

In [138]:
test13(34,a=45)                        # non default arguments given at the begining

(45, 34, 20)

In [139]:
v = test13(34,a=45)  # non default arguments given at the begining
v

(45, 34, 20)

In [140]:
# lambda function or function without name or anonymous function
def test14(a,b):
    return a+b

In [141]:
test14(90,4)

94

In [142]:
m = lambda a,b :a+b

In [143]:
m

In [144]:
test14(3,4)

7

In [145]:
m(5,6)

11

In [146]:
def check_even(n):
    if n%2 ==0:
        return "even"
    else:
        return "odd"

In [147]:
check_even(6)

'even'

In [148]:
check_even = lambda x : "even" if x%2==0 else "odd"
check_even(7)

'odd'

In [149]:
l = [3,4,5,6,9,8]
min1 = lambda li : min(li)
min1(l)

3

In [150]:
div = lambda a,b: a/b
div(5,2)

2.5

In [151]:
upper = lambda s : s.upper()
upper('haris')

'HARIS'

In [1]:
l = [3,4,5,6,9,8]
def sum_odd(b):
    l1 = []
    for i in b:
        if i%2 != 0:
            l1.append(i)
    return sum(l1)

In [2]:
sum_odd(l)

17

In [3]:

l = [3, 4, 5, 6, 9, 8]

sum_odd = lambda x: sum(filter(lambda y: y % 2 != 0, x))

result = sum_odd(l)
print(result)  # This will print the sum of odd numbers in the list

17

In [4]:
[i for i in l if i%2 !=0]

[3, 5, 9]

In [5]:
sum([i for i in l if i%2 !=0])

17

In [6]:
sum_odd = lambda b : sum([i for i in l if i%2 !=0])

In [7]:
sum_odd(l)

17

In [8]:

def factorial(n):
    if n==0 :
        return 1
    else:
        return n*factorial(n-1)

In [9]:
factorial(3)

6

In [10]:
def factorial(n):
    if n < 0:
        return "Factorial is not defined for negative numbers"
    elif n == 0 or n == 1:
        return 1
    else:
        result = 1
        while n > 1:
            result *= n
            n -= 1
        return result

# Example usage:
num = 5
print(f"The factorial of {num} is {factorial(num)}")

The factorial of 5 is 120

In [11]:
def factorial(n):
    if n < 0:
        return "Factorial is not defined for negative numbers"
    elif n == 0 or n == 1:
        return 1
    else:
        result = 1
        for i in range(2, n + 1):
            result *= i
        return result

# Example usage:
num = 5
print(f"The factorial of {num} is {factorial(num)}")

The factorial of 5 is 120

In [12]:
def fact_num(n):
    a = 1 
    for i in range(1,n+1):
        a = a*i
    return a

In [13]:
fact_num(5)

120

In [14]:
fact_num = lambda n : 1 if n==0 else n*fact_num(n-1)

In [15]:
fact_num(5)

120

In [16]:
l = [5,6,8,2]
l1 = []
for i in l:
    l1.append(i*2)
l1

[10, 12, 16, 4]

In [17]:
def add_list(l):
    l1 = []
    for i in l:
        l1.append(i+2)
    return l1

In [18]:
add_list(l)

[7, 8, 10, 4]

In [19]:
add_list([7, 8, 10, 4])

[9, 10, 12, 6]

In [20]:
v = lambda a :a+2                # cannot be straight away used for list so we use map
v(l)

TypeError: can only concatenate list (not "int") to list

In [21]:
map(lambda a : a+2,l)

In [22]:
list(map(lambda a : a+2,l))           # map takes two arguments one is function and other is iterables

[7, 8, 10, 4]

In [23]:
def test22(c):
    return c+2

In [24]:
list(map(test22,l))

[7, 8, 10, 4]

In [25]:
test22(7)

9

In [26]:
l = ['haris','haris','skill']
list(map(len,l))

[5, 5, 5]

In [27]:
l = ['haris','haris','skill']
list(map(len(),l))

TypeError: len() takes exactly one argument (0 given)

In [28]:
def test34(l):
    l1 = []
    for i in l:
        l1.append(len(i))
    return l1

In [29]:
test34(l)

[5, 5, 5]

In [30]:
list(map(lambda c :len(c) ,l))

[5, 5, 5]

In [31]:
list(map(lambda d : d[::-1],l))             # mapper also works on mutable objects

['sirah', 'sirah', 'lliks']

In [32]:
l = [3,5,7,8,9]
from functools import reduce

In [125]:
reduce(lambda a,b: a*b,l)

7560

In [128]:
reduce(lambda a,b:a if a>b else b,l)

9

In [129]:
reduce(lambda a,b:a if a<b else b,l)

3

In [132]:
n = 6
fact = reduce(lambda a,b: a*b,range(1,n+1))
fact

720

In [136]:
reduce(lambda a,b: a*b  if a%2==0 and b%2==0,l)

SyntaxError: expected 'else' after 'if' expression (3378683632.py, line 1)

In [140]:
reduce(lambda a,b: a*b, [i for i in l if i%2==0])

8

In [142]:
l = [3,5,7,8,9,1]
list(filter(lambda a: a%2==0,l))

[8]

In [143]:
list(filter(lambda a: a%2!=0,l))

[3, 5, 7, 9, 1]

In [147]:
s = "Haris Nazir"
list(filter(lambda a: a.islower(),s))

['a', 'r', 'i', 's', 'a', 'z', 'i', 'r']

In [150]:
l = ['haris','nazir','why','is']
list(filter(lambda a: len(a)<=4,l))

['why', 'is']

In [152]:
l = ['haris','nazir','why','is']
list(filter(lambda a: a[0] =='n',l))

['nazir']

In [157]:
def fib(n):
    if n<0:
        print("invalid input")
    elif n==0:
        return 0
    elif n==1:
        return 1
    else:
        return fib(n-2)+fib(n-1)
fib(3)

2

In [156]:
def fib1(n):
    if n<=1:
        return n
    else:
        return fib1(n-1) + fib1(n-2)
fib1(3)

2

In [158]:
def sum1(n):
    if n==1:
        return 1
    else:
        return n+sum1(n-1)

In [160]:
sum1(5)

15